@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Montserrat:wght@300;400;500&display=swap");
/* 
font-family: 'Montserrat', sans-serif; //For body
font-family: 'Yeseva One', cursive; //For display
*/

* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  